<div class="card card-profile widget-item p-0">
    <div class="profile-banner">
        <figure class="profile-banner-small">
            <a [routerLink]="['/mi-perfil']" [routerLinkActive]="['active']">
                <img src="assets/images/banner/banner-small.jpg" alt="">
            </a>
            <a [routerLink]="['/mi-perfil']" [routerLinkActive]="['active']" class="profile-thumb-2">
                <img src="{{url + 'get-image-user/'+ identity.image}}" alt="">
            </a>
        </figure>
        <div class="profile-desc text-center">
            <h6 class="author"><a [routerLink]="['/mi-perfil']"
                    [routerLinkActive]="['active']">{{identity.name + ' ' +identity.surname}}</a>
            </h6>
            <p>{{identity.nickname}}</p>
            <p>
                <span class="label-stats">
                    Siguiendo
                </span>
                <span class="number-stats">
                    {{stats.following}}
                </span>
                <span class="label-stats">
                    Seguidores
                </span>
                <span class="number-stats">
                    {{stats.followed}}
                </span>

                <span class="label-stats">
                    Publicaciones
                </span>
                <span class="number-stats">
                    {{stats.publications}}
                </span>
            </p>

        </div>
    </div>
</div>