.card-profile {
    padding: 0;
}

.profile-banner-small {
    position: relative;
}

.profile-banner-small:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    pointer-events: none;
    border: 10px solid rgba(198, 165, 107, 0.3);
}

.profile-desc {
    padding: 30px;
    margin-top: 25px;
}

.profile-desc p {
    font-size: 13px;
    color: #666666;
    padding-top: 10px;
}

.card.widget-item {
    padding: 25px;
}