<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">{{title}}</a>
        </div>
        <ul class="nav justify-content-start" *ngIf="identity">
            <li class="nav-item">
                <a class="nav-link">
                    <span class="fas fa-home" [routerLink]="['/home']" [routerLinkActive] ="['active']"></span>
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="fas fa-clipboard-list"></span>
                    Timeline
                </a>
            </li>
            <li class="nav-item" href="#">
                <a class="nav-link">
                    <span class="fas fa-user"></span>
                    gente
                </a>
            </li>
        </ul>
        <ul class="nav justify-content-start" *ngIf="!identity">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" [routerLinkActive] ="['active']">
                    <span class="fas fa-sign-in-alt"></span>
                    login
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive] ="['active']">
                    <span class="fas fa-users"></span>
                    Registro
                </a>
            </li>
        </ul>

    </div>

</nav>