<div class="jumbotron" >
    <div class="main-wrapper" *ngIf="user" >
        <div class="profile-banner-large bg-img" data-bg="assets/images/banner/profile-banner.jpg">
        </div>
        <div class="profile-menu-area bg-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3">
                        <div class="profile-picture-box">
                            <figure class="profile-picture">
                                <a href="profile.html">
                                    <img src="{{url + 'get-image-user/'+ user.image}}" alt="profile picture">
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 offset-lg-1">
                        <div class="profile-menu-wrapper">
                            <div class="main-menu-inner header-top-navigation">
                                <nav>
                                    <ul class="main-menu">
                                        <li class="active"><a href="#">timeline</a></li>
                                        <li><a href="friends.html">friends</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-md-block">
                        <div class="profile-edit-panel">
                            <button class="edit-btn">edit profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 order-lg-1" >
                    <aside class="widget-area profile-sidebar">

                        <!-- widget single item start -->
                        <div class="card widget-item" >

                            <span class="badge badge-secondary" *ngIf="followed">
                                te sigue
                            </span>
                            <br>
                            <h4 class="widget-title">{{user.name}}</h4>
                            <div class="widget-body">
                                <div class="about-author">
                                    <p>{{user.nickname}}</p>
                                    <ul class="author-into-list">
                                        <li>{{user.surname}}</li>
                                    </ul>
                                </div>
                                <div *ngIf="stats.following" >
                                    <ul>
                                        <li>Siguiendo <span class="badge badge-primary">{{stats.following}}</span></li>
                                        <li>Seguidores <span class="badge badge-primary">{{stats.followed}}</span></li>
                                        <li>Publicaciones <span
                                                class="badge badge-primary">{{stats.publications}}</span> </li>
                                    </ul>
                                </div>
                                <button class="btn btn-success" (click)="followUser(user._id)" *ngIf="!following">
                                    Seguir
                                </button>
                            </div>
                            <button class="btn btn-primary" (click)="unFollowUser(user._id)" *ngIf="following"
                                (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave(user._id)"
                                [class.btn-danger]="user._id == followUserOver">
                                <span *ngIf="user._id == followUserOver ;else following">Dejar de seguir</span>
                                <ng-template #following>
                                    siguiendo
                                </ng-template>

                            </button>
                        </div>

                        <!-- widget single item end -->
                    </aside>
                </div>
                <!--Seccion Friend List -->
                <div class="col-lg-8 order-1 order-lg-8" *ngIf="user">
                    <app-user-publications [user]="user._id"></app-user-publications>
                </div>
            </div>
        </div>
    </div>
</div>