.main-wrapper {
    padding-bottom: 105px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (max-width: 767.98px) {
    .main-wrapper {
      padding-bottom: 10px;
      margin-bottom: 60px;
    }
  }
  .profile-banner-large {
    height: 370px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .profile-banner-large {
      height: 270px;
    }
  }
  
  @media only screen and (max-width: 767.98px) {
    .profile-banner-large {
      height: 190px;
    }
  }
  .profile-menu-area {
    margin-bottom: 20px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .profile-menu-area {
      margin-bottom: 50px;
    }
  }
  
  @media only screen and (max-width: 767.98px) {
    .profile-menu-area {
      padding: 15px;
    }
  }
  .profile-picture-box {
    position: absolute;
    -webkit-transform: translateY(calc(-50% - 10px));
    -ms-transform: translateY(calc(-50% - 10px));
    transform: translateY(calc(-50% - 10px));
    background-color: #fff;
    z-index: 1;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .profile-picture-box {
      -webkit-transform: translateY(calc(-50% - 10px));
      -ms-transform: translateY(calc(-50% - 10px));
      transform: translateY(calc(-50% - 10px));
    }
  }
  
  @media only screen and (max-width: 767.98px) {
    .profile-picture-box {
      left: 0;
      right: 0;
      margin: auto;
      width: 100px;
    }
  }
  .profile-picture-box {
    -webkit-transform: translateY(calc(-50% - 17px));
    -ms-transform: translateY(calc(-50% - 17px));
    transform: translateY(calc(-50% - 17px));
  }
  .profile-picture {
    position: relative;
  }
  
  @media only screen and (max-width: 575.98px) {
    .profile-picture {
      width: 100px;
    }
  }
  
  .profile-picture:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    pointer-events: none;
    border: 10px solid #fff;
  }
  
  @media only screen and (max-width: 767.98px) {
    .profile-picture:before {
      border: 5px solid #fff;
    }
  }
  .profile-thumb-small {
  width: 35px;
  height: 35px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.profile-setting-box {
  position: relative;
}

.profile-setting-box .profile-thumb-small a {
  display: block;
}

.profile-setting-box .profile-dropdown {
  top: 100%;
  right: 0;
  width: 250px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  border-radius: 0 0 2px 2px;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
  box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
  display: none;
}

.profile-setting-box .profile-head {
  padding: 20px;
}

.profile-setting-box .profile-head .name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 7px;
}

.profile-setting-box .profile-head .name a {
  color: #333333;
}

.profile-setting-box .profile-head .name a:hover {
  color: #50A4D3;
}

.profile-setting-box .profile-head .mail {
  font-size: 13px;
  color: #444444;
  display: block;
}

.profile-setting-box .profile-head .mail:hover {
  color: #50A4D3;
}

.profile-setting-box .profile-body ul {
  padding: 20px 0;
  border-top: 1px solid #dddddd;
}

.profile-setting-box .profile-body ul li {
  line-height: 1;
  margin-bottom: 15px;
}

.profile-setting-box .profile-body ul li:last-child {
  margin-bottom: 0;
}

.profile-setting-box .profile-body ul li a {
  color: #444444;
  padding: 0 20px;
}

.profile-setting-box .profile-body ul li a i {
  font-size: 16px;
  padding-right: 8px;
}

.profile-setting-box .profile-body ul li:hover a {
  color: #50A4D3;
}

.profile-thumb {
  display: inline-block;
  position: relative;
}

.profile-thumb-middle {
  width: 45px;
  height: 45px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.profile-thumb.active {
  overflow: visible;
}

.profile-thumb.active img {
  border-radius: 50%;
}

.profile-thumb.active:before {
  bottom: 2px;
  right: -2px;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  position: absolute;
  background-color: #09ae82;
}

.profile-thumb-2 {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  bottom: -40px;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}

.main-menu li {
  display: inline-block;
}

.profile-edit-panel {
  text-align: right;
}

.edit-btn {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  padding: 11px 28px;
  display: inline-block;
  border-radius: 50px;
  text-transform: capitalize;
  background-color: #50A4D3;
}

@media only screen and (max-width: 767.98px) {
  .edit-btn {
    padding: 11px 15px;
  }
}

.edit-btn:hover {
  background-color: #333333;
}

.secondary-navigation-style {
  -webkit-transform: translateY(calc(-50% - 17px));
  -ms-transform: translateY(calc(-50% - 17px));
  transform: translateY(calc(-50% - 17px));
}

.profile-sidebar {
  margin-top: 105px;
}

.author-into-list {
  margin-top: 27px;
}

.author-into-list li {
  margin-bottom: 10px;
}

.author-into-list li:last-child {
  margin-bottom: 0;
}

.author-into-list li a {
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}

.author-into-list li a:hover {
  color: #50A4D3;
}

.author-into-list li a i {
  color: #50A4D3;
  font-size: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .author-into-list li a i {
    padding-right: 8px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .widget-area {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767.98px) {
  .widget-area {
    margin-top: 10px;
  }
}

.profile-sidebar {
    margin-top: 105px;
  }
  .about-author-details {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .about-author-menu li {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 4px;
    margin-bottom: 16px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  .about-author-menu li a {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
    color: #333333;
    text-transform: capitalize;
  }
  
  .about-author-menu li a.active {
    color: #50A4D3;
  }
  
  .about-author-menu li:hover {
    border-color: #50A4D3;
  }
  
  .about-author-menu li:hover a {
    color: #50A4D3;
  }
  
  .about-author-menu li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .author-into-list {
    margin-top: 27px;
  }
  
  .author-into-list li {
    margin-bottom: 10px;
  }
  
  .author-into-list li:last-child {
    margin-bottom: 0;
  }
  
  .author-into-list li a {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
  }
  
  .author-into-list li a:hover {
    color: #50A4D3;
  }
  
  .author-into-list li a i {
    color: #50A4D3;
    font-size: 20px;
    padding-right: 20px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .author-into-list li a i {
      padding-right: 8px;
    }
  }
  