<div class="jumbotron" >
    <div class="main-wrapper" *ngIf="user" >
        <div class="profile-banner-large bg-img" data-bg="assets/images/banner/profile-banner.jpg">
        </div>
        <div class="profile-menu-area bg-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3">
                        <div class="profile-picture-box">
                            <figure class="profile-picture">
                                <a href="profile.html">
                                    <img src="{{url + 'get-image-user/'+ user.image}}" alt="profile picture">
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 offset-lg-1">
                        <div class="profile-menu-wrapper">
                            <div class="main-menu-inner header-top-navigation">
                                <nav>
                                    <ul class="main-menu">
                                        <li class="active"><a href="#">timeline</a></li>
                                        <li><a href="friends.html">friends</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-md-block">
                        <div class="profile-edit-panel">
                            <button class="edit-btn">edit profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 order-lg-1" >
                    <aside class="widget-area profile-sidebar">

                        <!-- widget single item start -->
                        <div class="card widget-item" >

                            <span class="badge badge-secondary" *ngIf="followed">
                                te sigue
                            </span>
                            <br>
                            <h4 class="widget-title">{{user.name}}</h4>
                            <div class="widget-body">
                                <div class="about-author">
                                    <p>{{user.nickname}}</p>
                                    <ul class="author-into-list">
                                        <li>{{user.surname}}</li>
                                    </ul>
                                </div>
                                <div *ngIf="stats.following" >
                                    <ul>
                                        <li>Siguiendo <span class="badge badge-primary">{{stats.following}}</span></li>
                                        <li>Seguidores <span class="badge badge-primary">{{stats.followed}}</span></li>
                                        <li>Publicaciones <span
                                                class="badge badge-primary">{{stats.publications}}</span> </li>
                                    </ul>
                                </div>
                                <button class="btn btn-success" (click)="followUser(user._id)" *ngIf="!following">
                                    Seguir
                                </button>
                            </div>
                            <button class="btn btn-primary" (click)="unFollowUser(user._id)" *ngIf="following"
                                (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave(user._id)"
                                [class.btn-danger]="user._id == followUserOver">
                                <span *ngIf="user._id == followUserOver ;else following">Dejar de seguir</span>
                                <ng-template #following>
                                    siguiendo
                                </ng-template>

                            </button>
                        </div>

                        <!-- widget single item end -->
                    </aside>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#profile">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    <li class="nav-item dropdown show">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Dropdown</a>
                      <div class="dropdown-menu show" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade" id="home">
                      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                    </div>
                    <div class="tab-pane fade active show" id="profile">
                      <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
                    </div>
                    <div class="tab-pane fade" id="dropdown1">
                      <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
                    </div>
                    <div class="tab-pane fade" id="dropdown2">
                      <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                    </div>
                  </div>
                <!--Seccion Friend List -->
                <div class="col-lg-8 order-1 order-lg-8" *ngIf="user">
                    <app-user-publications [user]="user._id"></app-user-publications>
                </div>
            </div>
        </div>
    </div>
</div>