<div class="main-wrapper pt-80">
    <div class="container">
        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">Mensajeria Privada</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['enviar']">Enviar
                        Mensaje</a>
                    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['recibidos']">Mensajes
                        Recibidos</a>
                    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['enviados']">Mensajes
                        Enviados</a>
                    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/home']">home</a>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>
</div>