<!-- share box start -->
<div class="card card-small">
    <div class="share-box-inner">
        <!-- profile picture start -->
        <div class="profile-thumb">
            <a href="#">
                <figure class="profile-thumb-middle">
                    <img src="{{url + 'get-image-user/'+ identity.image}}" alt="profile picture">
                </figure>

            </a>
        </div>
        <!-- profile picture end -->

        <!-- share content box start -->
        <div class="share-content-box w-100">
            <form class="share-text-box">
                <textarea name="share" class="share-text-field" aria-disabled="true" placeholder="Comparte algo..."
                    data-toggle="modal" data-target="#textbox" id="email"></textarea>
                <button class="btn-share" type="submit">Compartir</button>
            </form>
        </div>
        <!-- share content box end -->

        <!-- Modal start -->
        <div class="modal fade" id="textbox" aria-labelledby="textbox">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Comparte algo...</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm); enviarEstado($event);">
                        <div class="modal-body custom-scroll">
                            <textarea name="text" #text="ngModel" [(ngModel)]="publication.text"
                                class="share-field-big custom-scroll" placeholder="Comparte Algo"></textarea>
                            <span *ngIf="!text.valid && text.touched">
                                el texto de la publicacion es obligatorio
                            </span>
                        </div>
                        <div class="modal-body custom-scroll">
                            <label>sube tu foto</label>
                            <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)" />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="post-share-btn" data-dismiss="modal">Cancelar</button>
                            <input type="submit" value="Publicar" class="post-share-btn"
                                [disabled]="!newPubForm.form.valid" />
                        </div>
                        <div class="alert alert-success" *ngIf="status == 'success'">
                            publicacion enviada Correctamente </div>
                        <div class="alert alert-danger" *ngIf="status == 'error'">
                            publicacion no enviada </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- Modal end -->
    </div>
</div>