<div class="jumbotron">
    <div class="panel panel-default">
        <div class="panel-body">
            <!--PAGINACION-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" *ngIf="page > 1"><a class="page-link" [routerLink]="['/gente', prevPage]">
                            anterior</a>
                    </li>
                    <li class="page-item" *ngIf="pages != page"><a class="page-link"
                            [routerLink]="['/gente', nextPage]">
                            siguiente</a> </li>
                </ul>
            </nav>
            <!--LISTADO-->
            <div class="list-group">
                <div class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor="let user of users">
                    <div class="col-2">
                        <a class="image-parent" href="#">
                            <img src="{{url + 'get-image-user/' +user.image}}" alt="Card image cap" class="card-img-top"
                                *ngIf="user.image">
                            <img src="assets/usuario.jpg" alt="Card image cap" class="card-img-top" *ngIf="!user.image">
                        </a>
                    </div>
                    <div class="col-4">
                        <h5 class="card-title">{{user.nickname}}</h5>
                        <p class="card-text">{{user.name}}</p>

                    </div>
                    <!--SEGUIR DEJAR DE SEGUIR-->
                    <div class="col-6" *ngIf="user._id != identity._id">
                        <!--BOTON PARA SEGUIR-->
                        <button class="btn btn-success" *ngIf="follows.indexOf(user._id) <= 0"
                            (click)="followUser(user._id)">
                            <span><i class="fas fa-plus-circle"></i></span> Seguir
                        </button>
                        <!--BOTON PARA DEJAR DE SEGUIR-->
                        <button class="btn btn-primary" *ngIf="follows.indexOf(user._id) >= 0"
                            (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave(user._id)"
                            (click)="unFollowUser(user._id)" [class.btn-danger]="user._id == followUserOver">
                            <span *ngIf="user._id == followUserOver ; else following">
                                <i class="fas fa-minus-circle"></i> Dejar de seguir
                            </span>
                            <ng-template #following>
                                <span> <i class="fas fa-check-circle"></i></span> Siguiendo
                            </ng-template>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-sidebar></app-sidebar>
<div class="clearfix"></div>