
.login-area {
  background-color: #50A4D3;
  padding: 15px 30px;
}

@media only screen and (min-width: 1600px) {
  .login-area {
    padding: 15px 110px;
  }
}

.login-area .single-field {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  color: #fff;
}

@media only screen and (max-width: 575.98px) {
  .login-area .single-field {
    margin-bottom: 30px;
  }
}

.login-area .login-btn {
  font-size: 14px;
  font-weight: 500;
  color: #50A4D3;
  line-height: 1;
  padding: 12px 32px;
  display: inline-block;
  border: 1px solid transparent;
  background-color: #fff;
}

.login-area .login-btn:hover {
  background-color: #C5727C;
}

@media only screen and (max-width: 575.98px) {
  .login-area .login-btn {
    width: 100%;
  }
}

.login-area ::-webkit-input-placeholder {
  /* Edge */
  color: #ddd;
}

.login-area :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ddd;
}

.login-area ::-moz-placeholder {
  color: #ddd;
}

.login-area ::-ms-input-placeholder {
  color: #ddd;
}

.login-area ::placeholder {
  color: #ddd;
}
